.container {
    max-width: 400px;
    padding-top: 20px;
}

h2 {
    margin-top: 20px;
}

p, h2, label {
    color: #fff;
}

.btn {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

body {
    background-color: #56351E;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body, html {
    height: 100%;
}